@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD@8..144,112.5,100..1000,-200..150&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #121212;
  --color-secondary: #EDEDED;

  --color-error: #B3261E;
  --color-error-container: #F9DEDC;


  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

body {
  /* default properties */
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 500;

  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.text-l9 {
  font-size: calc((160/16) * 1rem);
  line-height: 1.2;
}

.text-l8 {
  font-size: calc((128/16) * 1rem);
  line-height: 1.2;
}

.text-l7 {
  font-size: calc((96/16) * 1rem);
  line-height: 1.2;
}

.text-l6 {
  font-size: calc((80/16) * 1rem);
  line-height: 1.3;
}

.text-l5 {
  font-size: calc((64/16) * 1rem);
  line-height: 1.3;
}

.text-l4 {
  font-size: calc((48/16) * 1rem);
  line-height: 1.3;
}

.text-l3 {
  font-size: calc((40/16) * 1rem);
  line-height: 1.4;
}

.text-l2 {
  font-size: calc((32/16) * 1rem);
  line-height: 1.4;
}

.text-l1 {
  font-size: calc((24/16) * 1rem);
  line-height: 1.4;
}

.text-lg {
  font-size: calc((20/16) * 1rem);
  line-height: 1.5;
}

.text-md {
  font-size: calc((18/16) * 1rem);
  line-height: 1.5;
}

.text-sm {
  font-size: calc((16/16) * 1rem);
  line-height: 1.5;
}

.text-s1 {
  font-size: calc((14/16) * 1rem);
  line-height: 1.6;
}

.text-s2 {
  font-size: calc((12/16) * 1rem);
  line-height: 1.6;
}

.text-s3 {
  font-size: calc((10/16) * 1rem);
  line-height: 1.6;
}

:is(.text-l1, .text-l2, .text-l3, .text-l4, .text-l5, .text-l6, .text-l7, .text-l8, .text-l9,
  .text-lg, .text-md, .text-sm,
  .text-s1, .text-s2, .text-s3).bold {
  font-weight: 700;
}
 
.container-x {
  background-color: rgb(206, 83, 83);
  width: 100%;
  margin: auto;
  padding-inline: clamp(20px, 15.3846px + 1.2821vw, 40px);
}

.section-projects,
.section-contact {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}